<log4net>
  <!-- Appends to the system console -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p - %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <!-- Appends to the log file InfoLog\DogAgilityCompetitionMediatorEmulator...log -->
  <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString"
      value="%envFolderPath{CommonApplicationData}\DogAgilityCompetition\MediatorEmulator\InfoLog\DogAgilityCompetitionMediatorEmulator_%date{yyyy.MM.dd-HH.mm.ss}.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <!-- For format identifiers, see http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html -->
      <conversionPattern value="%utcdate [%thread] %-5level %logger{1} - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <!-- Appends to the log file DebugLog\DogAgilityCompetitionMediatorEmulator...log -->
  <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString"
      value="%envFolderPath{CommonApplicationData}\DogAgilityCompetition\MediatorEmulator\DebugLog\DogAgilityCompetitionMediatorEmulator_%date{yyyy.MM.dd-HH.mm.ss}.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="100MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <!-- For format identifiers, see http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html -->
      <conversionPattern value="%utcdate [%thread] %-5level %logger{1} - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <!-- Defines the appenders that are active and the minimum overall log level -->
  <root>
    <level value="DEBUG" />
    <!-- <appender-ref ref="ConsoleAppender" /> -->
    <appender-ref ref="InfoFileAppender" />
    <appender-ref ref="DebugFileAppender" />
  </root>
</log4net>
